<h1>Product Added Successfully</h1>
<p>Product Name: <%= product.name %></p>
<p>Price: <%= product.price %></p>
<p>Description: <%= product.description %></p>
<a href="/add-product">Add Another Product</a>
