<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/add-student-process" >
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt1" placeholder="Enter Name" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt2" placeholder="Enter Email" required></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="txt3" placeholder="Enter Mobile" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>